<%= form_with(:model => @problem,:id => "problem_form", :class => "form-problem", :method => :post, data: { turbo: false }) do |f| %>

  <% if @problem.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this @problem from being saved:</h2>

      <ul>
        <% @problem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label "Description" %>
  <%= f.text_area :body %>

  <%#= f.label "Tags" %>
  <%#= f.select :tags, options_from_collection_for_select(@tags, 'id', 'tag', f.object.tags), class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>
  <%= f.label "Language restriction" %>
  <% lang_id = Language.find_by(name: "none").id %>
  <% if @problem.languages != nil and @problem.languages != lang_id %>
    <% lang_id = @problem.languages %>
    <% end %>

  <%= f.select :languages, options_from_collection_for_select(@languages, 'id', 'name', lang_id), class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>

  <%= f.fields_for :problem_tags do |problem_tag| %>
    <%= render "problem_tag_fields", f: problem_tag%>
  <% end %>
  <div>
    <%= link_to_add_association "Add Problem Tags", f, :problem_tags, class: "button" %>
    <%= link_to_add_association "Add Test Case", f, :test_cases, class: "button" %>
  </div>


  <%= f.fields_for :test_cases do |test_case| %>
    <%= render "test_case_fields", f: test_case %>
  <% end %>
  <div>
    <%= f.submit :class => "button button--submit"%>
  </div>

<% end %>
