<div id="filterrific_results">
  <div>
    <%= page_entries_info(problems) %>
  </div>
  <br>
<div class="table col-12">
  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th colspan="3"></th>
            <th>Tags</th>
            <th colspan="3"></th>
            <th>Difficulty</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @problems.each do |problem| %>
            <tr id="notice2">
            <td><%= link_to problem.title, problem , :id => 'probTitle'%></td>
            <th colspan="3"></th>
            <td><%= link_to @map[problem.id].to_s, problem, :id => 'probTag' %>
            </td>
            <th colspan="3"></th>
            <td><%= link_to @map_level[problem.id], problem, :id => 'probDifficulty'  %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

  <%= will_paginate @problems %>
</div>
