<div id="filterrific_results">
  <div>
    <%= page_entries_info(problems) %>
  </div>
  <br>
<div class="table col-12">
  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th colspan="3"></th>
            <th>Tags</th>
            <th colspan="3"></th>
            <th>Difficulty</th>
            <th colspan="3"></th>
            <th>Language</th>
            <th colspan="3"></th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% @problems.each do |problem| %>
            <tr id="notice2">
              <td>
                <%= link_to problem.title, problem , :id => 'probTitle'%>
              </td>
              <th colspan="3"></th>
              <td>
                <%= link_to @map_tags[problem.id].to_s, problem, :id => 'probTag' %>
              </td>
              <th colspan="3"></th>
              <td>
                <%= link_to DifficultyLevel.find(problem.difficulty).level, problem, :id => 'probDifficulty'  %>
              </td>
              <th colspan="3"></th>
              <td>
                <%= link_to Language.find(problem.languages).pretty_name, problem, :id => 'probLanguage'  %>
              </td>
              <th colspan="3"></th>
              <td>
                <% if @map_attempted.include?(problem.id) %>
                  <%= content_tag :span, (@map_passed.include?(problem.id) ? "PASSED" : "WA"), style: (@map_passed.include?(problem.id) ? "color: green;" : "color: red;") %>
                <% else %>
                  <%= content_tag :span, "-", style: "color: gray;" %>
                <% end %>

              </td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

  <%= will_paginate @problems %>
</div>
