<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center w-100">
  <% if policy(:problem).new? %>
    <h1>Welcome Instructor!</h1>
  <% end %>
</div>


<h1>Problems</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="row align-items-center">
    <div class="col-md-2 mb-3">
      <h4>Tags</h4>
      <%= f.collection_select :with_tag_id, Tag.all, :id, :tag, { include_blank: "Any" }, { class: 'form-select filter-select', onchange: "this.form.submit();" }  %>
    </div>
    <div class="col-md-6 mb-3">
      <h4>Difficulty</h4>
      <%= f.collection_select :with_difficulty_id, DifficultyLevel.all, :id, :level, { include_blank: "Any" }, { class: 'form-select filter-select', onchange: "this.form.submit();" }  %>
    </div>
    <div class="col-md-2 mb-3">
      <%= link_to 'Reset filters', reset_filterrific_url, class: 'button', style: 'margin-left: 10px; margin-top:50px; height: 30px' %>
    </div>
    <% if policy(:problem).new? %>
      <div class="col-md-2 mb-3">
        <%= link_to "New Problem", new_problem_path, :class => "button" , style: 'margin-left: 10px; margin-top:50px; height: 30px' %>
      </div>
    <% end %>
  </div>
<% end %>





<div class="table col-12">
  <table>
    <thead>
    <tr>
      <th>
        <h5> Search Problems with Tags</h5>
        <br>
        <%= form_with url: searchtag_path, local: true, method: :get do |f| %>
          <%= f.select :search_tag, options_from_collection_for_select(@tags, 'id', 'tag'), prompt: "Please Select", class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>
          <%= f.submit "Search" %>
        <% end %>
        <br> 
        <h5>Search Problems with Difficulty</h5>
        <%= form_with url: searchlevel_path, local: true, method: :get do |f| %>
          <div>
            <div style="float:left;">
              <%= f.label :min_difficulty, "Minimum Difficulty:" %>
              <%= f.text_field :min_difficulty, class: 'form-control col-md-8 col-xs-6', id: 'min_difficulty' %>
            </div>
            <div style="float:left;">
              <%= f.label :max_difficulty, "Maximum Difficulty:" %>
              <%= f.text_field :max_difficulty, class: 'form-control col-md-8 col-xs-6', id: 'max_difficulty' %>
            </div>
            <div style="float:left;"><%= f.submit "Search" %></div>
          </div>

        <% end %>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
      <th>Tags</th>
      <th colspan="3"></th>
      <th>Difficulty</th>
      <th colspan="3"></th>
      <th>Language restriction</th>
    </tr>
    </thead>
    <tbody>
    <% @problems.each do |problem| %>
      <tr id="notice2">
        <td><%= link_to problem.title, problem , :id => 'probTitle'%></td>
        <th colspan="3"></th>
        <td><%= link_to @map[problem.id].to_s, problem, :id => 'probTag' %></td>
        <th colspan="3"></th>
        <td><%= link_to problem.difficulty, problem, :id => 'probDifficulty'  %></td>
        <th colspan="3"></th>
        <td><%= link_to Language.where(id: problem.languages).pick(:pretty_name), problem, :id => 'problanguage'  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>




<%= render(
  partial: 'problems/list',
  locals: { problems: @problems}
) %>

<style>
  .filter-select {
    width: 200px; /* adjust the width as needed */
    font-size: 14px; /* adjust the font size as needed */
    padding: 5px;
    /* margin: 2px */
  }
</style>
