<p id="notice"><%= notice %></p>

<% if policy(:problem).new? %>
  <h1>Welcome Instructor!</h1>
<% end %>

<h1>Problems</h1>
<% if policy(:problem).new? %>
  <div class="col-12">
    <%= link_to "New Problem", new_problem_path, :class => "button" %>
  </div>
<% end %>
<div class="table col-12">
  <table>
    <thead>
    <tr>
      <th>
        <h5> Search Problems with Tags</h5>
        <br>
        <%= form_with url: searchtag_path, local: true, method: :get do |f| %>
          <%= f.select :search_tag, options_from_collection_for_select(@tags, 'id', 'tag'), prompt: "Please Select", class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>
          <%= f.submit "Search" %>
        <% end %>
        <h5> Search Problems with Difficulty</h5>
        <br>
        <%= form_with url: searchlevel_path, local: true, method: :get do |f| %>
          <%= f.select :search_level, options_from_collection_for_select(@difficulty_levels, 'id', 'level'), prompt: "Please Select", class: 'form-control col-md-7 col-xs-12', id: 'countries_select' %>
          <%= f.submit "Search" %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
      <th>Tags</th>
      <th colspan="3"></th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @problems.each do |problem| %>
      <tr id="notice2">
        <td><%= link_to problem.title, problem , :id => 'probTitle'%></td>
        <th colspan="3"></th>
        <td><%= link_to @map[problem.id], problem, :id => 'probTag' %></td>
        <th colspan="3"></th>
        <td><%= link_to @map_level[problem.id], problem, :id => 'probDifficulty'  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>