<p id="notice"><%= notice %></p>

<% if policy(:problem).new? %>
  <h1>Welcome Instructor!</h1>
<% end %>

<h1>Problems</h1>
<% if policy(:problem).new? %>
  <div id ="new_problem_button-container" class="col-12">
    <%= link_to "New Problem", new_problem_path, :class => "button", :id => "new_problem_button" %>
  </div>
<% end %>
<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    <h4>Search Problems with Tags</h4>
    <div style="display: flex;">
      <%= f.collection_select :with_tag_id, Tag.all, :id, :tag, { include_blank: "Any" }, { class: 'filter-select', onchange: "this.form.submit();" }  %>
      <%= link_to 'Reset filters', reset_filterrific_url, class: 'button ml-2', style: 'margin-left: 10px; height: 30px' %>
    </div>
  </div>
  <%# <br> %
  <%# add an automated spinner to your form when the list is refreshed %>
  <%# <%= render_filterrific_spinner  %>
<% end %>
<%= render(
  partial: 'problems/list',
  locals: { problems: @problems}
) %>

<style>
  .filter-select {
    width: 200px; /* adjust the width as needed */
    font-size: 14px; /* adjust the font size as needed */
    padding: 5px;
    /* margin: 2px */
  }
</style>



