<p id="notice"><%= notice %></p>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Problems", path: problems_path, icon: "chevron-left", classes: "link--back" %>
</div>

<h1 class="col-12 col-md-6"><%= @problem.title %></h1>

<div class="col-12">
  <%= render "partials/text_card", headline: "Description", copy: @problem.body %>
</div>

<section id="test-cases" class="container">
  <h3 class="col-12">Testcases</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    <% if @visible_test_cases.any? %>
      <% @visible_test_cases.each do |test_case| %>
        <div class="col">
          <%= render "partials/test_case_card_edit", test_case: test_case %>
        </div>
      <% end %>
    <% else %>
      <p class="col-12"><%= @no_test_cases_prompt %></p>
    <% end %>
  </div>
</section>

<section id ="file-upload">
  <%= form_for(@attempt) do |f| %>
    <%= hidden_field_tag(:problem_id, @problem.id) %>
    <%= f.hidden_field :language_list, value: @languages_list.join(",") %>
    <h3>Language Restriction: <%= @languages_list.join(", ") %> </h3>
    <div style="display: inline-block;">
      <%= f.label :sourcecode, "Upload attempt:" %>
      <%= f.file_field :sourcecode %>
    </div>
    <%= f.submit "Submit attempt", class: "button", style: "display: inline-block; vertical-align: top;" %>
  <% end %>
</section>
<% if @problem.instructor_solution %>
  <%if current_user.role? :instructor %>
    <%= link_to "Show Solution", solution_problem_url(@problem.id), :class =>"button"%>
  <%end%>
<%end%>
<% if policy(@problem).edit? %>
  <section id ="solution-upload"><%= form_with(url: solution_upload_form_path_url) do |f| %>
    <%= hidden_field_tag(:problem_id, @problem.id) %>
    <div style="display: inline-block;">
      <%= f.label :solution_sourcecode, "Upload solution:" %>
      <%= f.file_field :solution_sourcecode %>
    </div>
    <%= f.submit "Submit solution", class: "button", style: "display: inline-block; vertical-align: top;" %>
    <% end %>
  </section>
<% end %>
<div  class="layout-but">
  <% if policy(@problem).edit? %>
    <%= link_to "Edit this Problem", edit_problem_path(@problem), :class => "button" %>
  <% end %> 
  <% if policy(@problem).destroy? %>
    <%= button_delete_modal_tag "Delete this Problem", @problem, "Problem", class: "button button--delete" %>
  <% end %>
</div>
