<%= render 'layouts/flash' %>

<div class="col-12">
  <%= render "partials/link", copy: "Back to Ratings", path: rating_path, icon: "chevron-left", classes: "link--back" %>
</div>


<div class="table col-12">
  <table>
    <thead>
        <tr>
            <th>Username</th>
            <th colspan="3"></th>
            <th>Name</th>
            <th colspan="3"></th>
            <th>Email</th>
            <th colspan="3"></th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr id="notice2">
          <td class="temp"> <%= @show_user.username %> </td>
          <th colspan="3"></th>
          <td class="temp"> <%= @show_user.firstname + " " + @show_user.lastname %> </td>
          <th colspan="3"></th>
          <td class="temp"> <%= @show_user.email %> </td>
          <th colspan="3"></th>
          <td class="temp"> <%= @show_roles %> </td>
        </tr>
    </tbody>
  </table>
</div>

<p>
  <strong>Submissions:</strong>
  <% if @show_attempts.empty? %>
    <p>Student has zero submissions.</p>
  <% else %>
    <div class="table col-12">
      <table>
        <thead>
            <tr>
                <th>Title</th>
                <th colspan="3"></th>
                <th>Tags</th>
                <th colspan="3"></th>
                <th>Difficulty</th>
                <th colspan="3"></th>
                <th>Language</th>
                <th colspan="3"></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% @show_attempts.each do |attempt| %>
                <tr id="notice2">
                  <td>
                    <%= link_to Problem.find_by(id: attempt.problem_id).title, attempt , :id => 'probTitle'%>
                  </td>
                  <th colspan="3"></th>
                  <td>
                    <%= link_to @map_tags[attempt.problem_id].to_s, attempt, :id => 'probTag' %>
                  </td>
                  <th colspan="3"></th>
                  <td>
                    <%= link_to DifficultyLevel.find(Problem.find_by(id: attempt.problem_id).difficulty).level, attempt, :id => 'probDifficulty'  %>
                  </td>
                  <th colspan="3"></th>
                  <td>
                    <%= link_to Language.find(Problem.find_by(id: attempt.problem_id).languages).pretty_name, attempt, :id => 'probLanguage'  %>
                  </td>
                  <th colspan="3"></th>
                  <td>
                    <%= content_tag :span, attempt.passed ? "PASSED" : "WRONG ANSWER", style: "color: #{attempt.passed ? 'green' : 'red'};" %>
                  </td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</p>
<!-- for attempt in @show_attempts do -->
<style>
section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* set column sizes here */
    grid-template-rows: auto auto; /* we want two rows */

    grid-gap: 2px; /* how far between cells? */
    grid-auto-flow: column; /* fill in by column, not row */

    /* temporary property for visualization */
    height: 150px;
}

section div {
    border: 1px solid #000;
}

.temp {
  padding: 10px;
}
</style>